#myVideo{
    width: 100%;
    -o-filter: blur(5px);
    filter: blur(5px);
    object-fit: cover;
    transform: scale(1);
    height: 250px;
}
body{
    margin: 0 0;
}
nav{
    position: fixed;
    top:0;
    right: 0;
    background-image: linear-gradient(black, grey);
    opacity: 0.7;
    width: 100%;
    text-align: right;
    padding: 80px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
}
nav:hover{
    opacity: 1;
}
li{
    display: inline;
padding: 15px;
   }
   ul{
       width: 100%;
       height: 100%;
       margin: 0;
       padding: 15px;
   }
   li:hover{
       background-color: black;
   }

  a{
       color: white;
       text-decoration: none;
       margin: 0 2%;
       text-align: center;
       
   }
  #namepage{
       position: absolute;
     bottom: 100px;
     text-align: center;
     left: 25%;
     font-family: sans-serif;
     color: white;
     font-weight: bold;
     font-size: 40px;
   }
   h1{
       text-align: center;
   }
   .header{
       position: relative;
   }
   .picture{
       width: 100%;
   }
   .picture img{
       width: 23%;
      
       object-fit:cover;
       height: 300px;
       margin-left: 1%;
      border: outset 5px;
   }
   footer{
       background-color: black;
       color: white;
       text-align: center;
       padding: 15px;
       margin-top: 25px;
   }
   .asking{
       text-align: center;
   }
   table{
       width: 50%;
       margin: 0 auto;
       border-collapse: collapse;
   }
   tr, th, td{
padding: 20px;
border: 1px solid black;
   }
   tr:nth-child(odd){
background-color: lightgrey;
   }
#aboutme{
    display: none;
}
#submit{
    margin: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding:10px 20px;
}
footer a:hover {
color: green;
}